.footer {
      background-color: white;
      position: relative; /* Ensure it sits above the content */
      margin: 0px;
  }
  .maincontainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}
.content {
    flex: 1; /* This allows the content area to grow and fill available space */
    overflow-y: auto; /* Enables vertical scrolling if content exceeds the height */
    background-color: white;
}
.visibility-visible{
    padding-left: 10px;
    visibility: visible;
}
.visibility-hidden{
    padding-left: 10px;
    visibility: hidden;
}