<?xml version="1.0" encoding="UTF-8"?>
<ListView xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>SPRINGFIELD_Case</fullName>
    <filterScope>Queue</filterScope>
    <label>SPRINGFIELD</label>
    <queue>SPRINGFIELD</queue>
    <sharedTo>
        <allInternalUsers></allInternalUsers>
    </sharedTo>
</ListView>
